name: c13n Main Pipeline

on:
  push:
    branches:
      - develop

jobs:
  release-testenv-docker-image:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - uses: pmorelli92/github-container-registry-build-push@2.0.0
        name: Build and Publish c13n-go-testenv:latest
        with:
          github-push-secret: ${{secrets.GITHUB_TOKEN}}
          docker-image-name: c13n-go-testenv
          docker-image-tag: latest
          dockerfile-path: ./docker/testenv/Dockerfile.testenv
          build-context: ./
  test:
    needs: release-testenv-docker-image
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/c13n-io/c13n-go-test-env:latest
      options: -v ${{ github.workspace }}:/c13n
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Cache vendor
        uses: actions/cache@v2
        id: cache-vendor
        with:
          path: |
            ${{ github.workspace }}/vendor
          key: ${{ runner.os }}-go-vendor-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-vendor-
      - name: Cache GO modules
        uses: actions/cache@v2
        id: cache-go-modules
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Install dev dependencies
        run: cd /c13n && make dev-deps

      - name: Test
        run: cd /c13n && make test
